node_modules
.next/*

# env files (can opt-in for committing if needed)
.env*
.turbo/*
packages/constants/dist/*
apps/web/.turbo/turbo-build.log
apps/my-expo-app/*
apps/mobile/android/gradle.properties
apps/mobile/android/settings.gradle
apps/mobile/android/app/*
apps/mobile/.expo/*